$background-color: #15191F;
$primary-color: #F54D5E;
$secondary-color: #E43A7A;
$gradient: linear-gradient(90deg, #E43A7A 0%, #F55155 44.5%, #FF5E40 100%);
$box-bg-color: #202632;
$dark-gray: #202632;
$light-gray: #3F4657;
$text-color: #707783;
$white: #fff;
$green: #52c41a;