@import '../../styles/variables.scss';

.home {
    margin: 50px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .player-controls {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;

        .pl-inputs {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 50%;
        }

        .pl-info {
            width: -webkit-fill-available;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .results {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;

        .chat {
            width: -webkit-fill-available;
        }

        .ranking {
            width: 50%;
        }
    }
    @media (max-width:820px) {
        .player-controls{
            flex-direction: column;
            .pl-inputs{
                width: 100%;
            }
        }
        .results{
            flex-direction: column;
            .ranking{
                width: 100%;
            }
        }
    }
}