@import '../../styles/variables.scss';

.player-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $white;

  .inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 14px;

    .custom-input-number {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(50% - 14px);
      border: 1px solid $text-color;
      background: linear-gradient(90deg, #15191F 0.01%, #1F2531 45.5%, #202632 98.99%);
      border-radius: 8px;

      label {
        font-size: 16px;
        color: $text-color;
      }

      .input-number {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        padding: 0 8px 8px 8px;

        .ant-input-number {
          width: 100%
        }

        img {
          max-width: 40px;
          border: 1px solid $text-color;
          border-radius: 8px;
          background-color: $background-color;
          cursor: pointer;
        }

      }
    }
  }

  .ant-btn {
    height: 50px;
    background: $gradient;
    font-size: 20px;

    &:hover {
      background: $gradient !important;

    }
  }

  .ant-btn:disabled {
    color: $white;
    background: $text-color;
    box-shadow: none;
    border: unset;

    &:hover {
      background: $text-color !important;
    }
  }

}