@import '../../styles/variables.scss';

.game-board {
    background-color: $box-bg-color;
    padding: 20px;
    border: 1px solid $text-color;
    border-radius: 8px;
    position: relative;

    .x-value {
        text-align: center;
        color: $white;
        font-size: 48px;
        font-weight: bold;
        position: absolute;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -70%);
    }
}